{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Search Email</title>
{% endblock title %}
{% block body %}
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row mt-5 justify-content-center">
                <div class="col-md-12">
                    <div class="container mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="card border-secondary">
                                    <div class="card-header navbar-dark bg-dark text-white">
                                        <h4>Search</h4>
                                    </div>
                                    <div class="card-body">
                                        <form method="post" id="email">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label"><strong>Enter
                                                    Email Address</strong></label>
                                                <input required type="text" class="form-control"
                                                       id="exampleFormControlInput1"
                                                       placeholder="example@gmail.com" name="email">
                                            </div>
{#                                            <button type="submit" class="btn btn-primary">Search</button>#}
                                            <a href="{% url 'search_email' %}" class="btn btn-danger">Clear</a>
                                        </form>
                                        <ul id="results"></ul>
                                    </div>
                                    <div class="card-body" style="height:300px; overflow-y: auto;">
                                        <table id="jobs-table" class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Email</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                            </thead>
                                            <tbody id="jobs-table-body">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('#exampleFormControlInput1').on('input', function () {
                var email = $(this).val();
                if (email) {
                    $.ajax({
                        url: 'search_email',
                        type: 'POST',
                        data: {
                            'email': email,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function (response) {
                            $('#jobs-table-body').empty();  // Clear existing rows
                            response.forEach(function (email) {
                                $('#jobs-table-body').append('<tr><td>' + email.address + '</td><td>' + email.status + '</td></tr>');
                            });
                        }
                    });
                } else {
                    $('#jobs-table-body').empty();  // Clear table if no input
                }
            });
        });
    </script>

{% endblock js %}